.news-list {

  .news-item-block {
    border: thin solid #1b1e21;
    display: block;
    color: black;
    text-decoration: none;
    margin: 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .news-item-header {
      font-size: 16px;
      font-weight: bold;
    }

    .news-item-timestamp {
      font-style: italic;
    }

  }

}

