
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "Components/news";

@import "mixins";
.nice-image {
  @include box-shadow(0, 0, 50px, rgba(0, 0, 0, 0.4196078431372549))
}




body {
  background-color: white;

  @include breakpoint(sm) {
    background-color: yellow;
  }

  @include breakpoint(md) {
    background-color: blue;
  }

  @include breakpoint(lg) {
    background-color: red;
  }

}